example-flows/shelly-plus-ispindel.json
[
    {
        "id": "0c37a853db53e2ef",
        "type": "shelly-gen2",
        "z": "b01b2ef58c73ebd9",
        "hostname": "192.168.1.169",
        "description": "Shelly Plus 2PM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "300000",
        "pollstatus": true,
        "getstatusoncommand": true,
        "devicetype": "SNSW-102P16EU",
        "devicetypemustmatchexactly": true,
        "outputs": 1,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "7bd87ff0eb4d6786"
            ]
        ]
    },
    {
        "id": "26d167c4a8fa274b",
        "type": "node-red-contrib-temperature-controller",
        "z": "b01b2ef58c73ebd9",
        "name": "",
        "TARGET_TEMPERATURE": 18,
        "TEMPERATURE_DIFFERENCE": 2,
        "COMPRESSOR_DELAY_MINUTES": 3,
        "x": 940,
        "y": 100,
        "wires": [
            [
                "b0e4aa523cde6507"
            ],
            [
                "48c494ae58b5f365"
            ]
        ]
    },
    {
        "id": "3d5ffccc3c22c197",
        "type": "node-red-contrib-fermentation-controller",
        "z": "b01b2ef58c73ebd9",
        "name": "",
        "TEMPERATURE_DIFFERENCE": 0.5,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "cb2faab7b155c6b2"
            ]
        ]
    },
    {
        "id": "b89524a8d0965083",
        "type": "inject",
        "z": "b01b2ef58c73ebd9",
        "name": "Set profile",
        "props": [
            {
                "p": "profile",
                "v": "{\"expectedFG\":1.007,\"steps\":[{\"targetTemperature\":12,\"goal\":{\"days\":14,\"gravity\":{\"fromFG\":0.01}}},{\"targetTemperature\":16,\"goal\":{\"days\":1}},{\"targetTemperature\":17,\"goal\":{\"days\":1}},{\"targetTemperature\":0,\"goal\":{\"days\":3}}]}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "3d5ffccc3c22c197"
            ]
        ]
    },
    {
        "id": "b0e4aa523cde6507",
        "type": "change",
        "z": "b01b2ef58c73ebd9",
        "name": "to cooler",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"method\" : \"Switch.Set\",\t    \"parameters\" : {\t        \"id\" : 0,\t        \"on\" : msg.payload\t    }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "40b9ee6e3be34fe7"
            ]
        ]
    },
    {
        "id": "48c494ae58b5f365",
        "type": "change",
        "z": "b01b2ef58c73ebd9",
        "name": "to heater",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"method\" : \"Switch.Set\",\t    \"parameters\" : {\t        \"id\" : 1,\t        \"on\" : msg.payload\t    }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "40b9ee6e3be34fe7"
            ]
        ]
    },
    {
        "id": "40b9ee6e3be34fe7",
        "type": "shelly-gen2",
        "z": "b01b2ef58c73ebd9",
        "hostname": "192.168.1.169",
        "description": "Shelly Plus 2PM",
        "mode": "none",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": false,
        "devicetype": "SNSW-102P16EU",
        "devicetypemustmatchexactly": true,
        "outputs": 1,
        "x": 1300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7bd87ff0eb4d6786",
        "type": "change",
        "z": "b01b2ef58c73ebd9",
        "name": "as t2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "t2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature101.tC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "cb2faab7b155c6b2"
            ]
        ]
    },
    {
        "id": "a82c4894f673655b",
        "type": "change",
        "z": "b01b2ef58c73ebd9",
        "name": "as t1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "t1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "3d5ffccc3c22c197",
                "cb2faab7b155c6b2"
            ]
        ]
    },
    {
        "id": "42e6b6e57e3d1235",
        "type": "mqtt in",
        "z": "b01b2ef58c73ebd9",
        "name": "",
        "topic": "ispindel/iSpindel000[SG]/gravity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e18bab04799c140f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "3d5ffccc3c22c197"
            ]
        ]
    },
    {
        "id": "bbc3ede7a8523802",
        "type": "mqtt in",
        "z": "b01b2ef58c73ebd9",
        "name": "",
        "topic": "ispindel/iSpindel000[SG]/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e18bab04799c140f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a82c4894f673655b"
            ]
        ]
    },
    {
        "id": "cb2faab7b155c6b2",
        "type": "node-red-contrib-adaptive-temperature",
        "z": "b01b2ef58c73ebd9",
        "name": "",
        "BASELINE": 0.65,
        "DELTA": 3.5,
        "BETA": 0.5,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "26d167c4a8fa274b"
            ]
        ]
    },
    {
        "id": "e18bab04799c140f",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "node-red-tablet",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]